INTERFACE={{ pihole_interface }}
VIRTUAL_PORT=8089
WEB_PORT=8089
# PROXY_LOCATION=pihole
DNS1=${PIHOLE_DNS1}
DNSSEC=true
REV_SERVER=true
DNSMASQ_LISTENING=all
DNS_FQDN_REQUIRED=true
IPv6=false
TEMPERATUREUNIT=c
DNS_BOGUS_PRIV=true
WEBUIBOXEDLAYOUT=boxed
VIRTUAL_HOST={{ hostname }}
WEBPASSWORD=defaultpass
ADMIN_EMAIL={{ pihole_admin_email }}
REV_SERVER_DOMAIN={{ pihole_local_domain }}
REV_SERVER_TARGET={{ pihole_router_ip }}
REV_SERVER_CIDR={{ pihole_router_range }}